name: PDBFixer Continuous Integration Workflow

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build_test:
    runs-on: ubuntu-latest
    env:
      GITHUB_ACTION: "true"
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[tests]

      - name: Run tests
        run: |
          pytest -vs tests
      
